/* line 4, ../compass/sass/_base.scss */
#title-container {
  float: left;
  position: absolute;
  top: 0px;
  color: black;
  font-family: "Roth", sans-serif;
  letter-spacing: 2px;
  padding-top: 15px;
  padding-left: 15px;
}
/* line 13, ../compass/sass/_base.scss */
#title-container h1 {
  font-size: 60px;
}
/* line 16, ../compass/sass/_base.scss */
#title-container h3.text-center {
  font-size: 60px;
  position: relative;
  top: -30px;
}
/* line 21, ../compass/sass/_base.scss */
#title-container h3.text-left {
  position: relative;
  top: -40px;
}

/* line 27, ../compass/sass/_base.scss */
.project-titles {
  color: black;
}

/* line 31, ../compass/sass/_base.scss */
.section-title {
  font-family: Roth;
  font-size: 30px;
  color: black;
  float: left;
  margin-bottom: 20px;
}

/* line 39, ../compass/sass/_base.scss */
.content-text {
  clear: both;
}

/* line 43, ../compass/sass/_base.scss */
.main-content h2 {
  line-height: 11px;
  margin-bottom: 40px;
}

/* line 49, ../compass/sass/_base.scss */
.about {
  margin-top: 50px;
  min-height: 600px;
  margin-bottom: 100px;
}

/* line 56, ../compass/sass/_base.scss */
.my-projects {
  padding: 5px;
}

/* line 60, ../compass/sass/_base.scss */
.project-img {
  min-height: 250px;
}

/* line 63, ../compass/sass/_base.scss */
.btm-row {
  margin-bottom: 100px;
}

/* line 67, ../compass/sass/_base.scss */
.project-title {
  margin-bottom: 20px;
}

/* line 73, ../compass/sass/_base.scss */
.wax-icon {
  background: none;
}

/* line 77, ../compass/sass/_base.scss */
#contact-section {
  min-height: 600px;
}

/* line 81, ../compass/sass/_base.scss */
.section-title-contact {
  font-family: Kelly;
  font-size: 30px;
  color: black;
}

/* line 88, ../compass/sass/_base.scss */
#skills-wrapper {
  min-height: 600px;
}

/* line 92, ../compass/sass/_base.scss */
.skills-title {
  margin-top: 100px;
}

/* line 96, ../compass/sass/_base.scss */
.about-title {
  margin-top: 100px;
}

/* line 101, ../compass/sass/_base.scss */
#information p {
  text-indent: 0px;
}

/* line 108, ../compass/sass/_base.scss */
.my-nav li.li-projects,
.my-nav li.li-skills,
.my-nav li.li-resume,
.my-nav li.li-contact {
  font-family: Echanted;
  width: 120px;
  height: 180px;
  padding-top: 18px;
  position: relative;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
  color: white;
}
/* line 128, ../compass/sass/_base.scss */
.my-nav li.li-projects .fa,
.my-nav li.li-skills .fa,
.my-nav li.li-resume .fa,
.my-nav li.li-contact .fa {
  font-size: 35px;
  padding-top: 6px;
  padding-left: 8px;
}
/* line 134, ../compass/sass/_base.scss */
.my-nav li.li-projects {
  background: url("../img/newbookmark.png");
}
/* line 136, ../compass/sass/_base.scss */
.my-nav li.li-projects:hover {
  background: url("../img/newbookmarkanimate.png");
}
/* line 140, ../compass/sass/_base.scss */
.my-nav li.li-skills {
  background: url("../img/newbookmarkblue.png");
}
/* line 142, ../compass/sass/_base.scss */
.my-nav li.li-skills:hover {
  background: url("../img/newbookmarkblueanimate2.png");
}
/* line 146, ../compass/sass/_base.scss */
.my-nav li.li-contact {
  background: url("../img/newbookmarkgreen.png");
}
/* line 148, ../compass/sass/_base.scss */
.my-nav li.li-contact:hover {
  background: url("../img/newbookmarkgreenanimate.png");
}
/* line 152, ../compass/sass/_base.scss */
.my-nav li.li-resume {
  background: url("../img/newbookmarkred.png");
}
/* line 154, ../compass/sass/_base.scss */
.my-nav li.li-resume:hover {
  background: url("../img/newbookmarkredanimate.png");
}

/* line 162, ../compass/sass/_base.scss */
.message-wrapper .row {
  margin: 0px;
}

/* line 167, ../compass/sass/_base.scss */
.message-wrapper.row {
  margin: 0px;
}

/* line 172, ../compass/sass/_base.scss */
#my-footer {
  background-color: transparent;
  border-color: transparent;
  min-height: 85px;
  color: black;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  z-index: 510;
  position: relative;
  bottom: 0;
  border-top: 2px solid black;
  width: 90%;
  margin: auto;
}

/* line 186, ../compass/sass/_base.scss */
p.footer-text {
  margin-top: 35px;
}

/* line 191, ../compass/sass/_base.scss */
.custom-footer img {
  width: 89%;
  height: 100px;
  float: left;
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 500;
}

/* line 202, ../compass/sass/_base.scss */
.container.bg-img {
  background-color: lightgray;
  background: url("../img/main-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* line 210, ../compass/sass/_base.scss */
.container-fluid {
  background-color: black;
  z-index: 100;
  position: relative;
  background: url("../img/border2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 767px) {
  /* line 222, ../compass/sass/_base.scss */
  #title-container {
    display: none;
  }

  /* line 225, ../compass/sass/_base.scss */
  .container-fluid.bg-img {
    background: none;
    padding: 0px;
  }

  /* line 229, ../compass/sass/_base.scss */
  .site-nav {
    display: none;
  }

  /* line 232, ../compass/sass/_base.scss */
  .navbar-inverse {
    border: none;
    background-color: purple;
    border-bottom: 1px solid black;
  }
}
@media screen and (max-width: 1024px) {
  /* line 241, ../compass/sass/_base.scss */
  .my-nav li.li-projects,
  .my-nav li.li-skills,
  .my-nav li.li-resume,
  .my-nav li.li-contact {
    width: 100px;
    height: 180px;
    padding-top: 15px;
    position: relative;
    color: white;
    font-size: 13px;
    margin-right: 15px;
  }
  /* line 252, ../compass/sass/_base.scss */
  .my-nav li.li-projects .fa,
  .my-nav li.li-skills .fa,
  .my-nav li.li-resume .fa,
  .my-nav li.li-contact .fa {
    font-size: 30px;
    padding-top: 6px;
    padding-left: 8px;
  }

  /* line 259, ../compass/sass/_base.scss */
  #title-container {
    padding-top: 10px;
    padding-left: 10px;
  }
  /* line 262, ../compass/sass/_base.scss */
  #title-container h1 {
    font-size: 55px;
  }
  /* line 265, ../compass/sass/_base.scss */
  #title-container h3.text-center {
    font-size: 55px;
    position: relative;
    top: -30px;
  }
  /* line 270, ../compass/sass/_base.scss */
  #title-container h3.text-left {
    font-size: 35px;
    position: relative;
    top: -40px;
  }
}
@media screen and (max-width: 990px) {
  /* line 280, ../compass/sass/_base.scss */
  .my-nav li.li-projects,
  .my-nav li.li-skills,
  .my-nav li.li-resume,
  .my-nav li.li-contact {
    width: 60px;
    height: 180px;
    padding-top: 12px;
    font-size: 10px;
    margin-right: 10px;
  }
  /* line 289, ../compass/sass/_base.scss */
  .my-nav li.li-projects .fa,
  .my-nav li.li-skills .fa,
  .my-nav li.li-resume .fa,
  .my-nav li.li-contact .fa {
    font-size: 20px;
    padding-top: 6px;
    padding-left: 8px;
  }

  /* line 296, ../compass/sass/_base.scss */
  #title-container {
    padding-top: 10px;
    padding-left: 10px;
  }
  /* line 299, ../compass/sass/_base.scss */
  #title-container h1 {
    font-size: 40px;
  }
  /* line 302, ../compass/sass/_base.scss */
  #title-container h3.text-center {
    font-size: 40px;
    position: relative;
    top: -30px;
  }
  /* line 307, ../compass/sass/_base.scss */
  #title-container h3.text-left {
    font-size: 30px;
    position: relative;
    top: -40px;
  }
}
@media screen and (min-width: 768px) {
  /* line 316, ../compass/sass/_base.scss */
  .mobile-nav {
    display: none;
  }

  /* line 319, ../compass/sass/_base.scss */
  .navbar-brand {
    display: none;
  }
}
/* line 1, ../compass/sass/_hovereffect.scss */
.hover-text:hover {
  display: block;
  width: 50px;
  color: white;
}

/* line 7, ../compass/sass/_hovereffect.scss */
.hover-text {
  display: none;
}

/* line 15, ../compass/sass/_hovereffect.scss */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: lightgray;
  border-radius: none;
}

/* line 28, ../compass/sass/_hovereffect.scss */
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

/* line 38, ../compass/sass/_hovereffect.scss */
.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 51, ../compass/sass/_hovereffect.scss */
.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 58, ../compass/sass/_hovereffect.scss */
.hovereffect h4 {
  color: transparent;
  text-shadow: none;
  text-align: center;
  position: relative;
  font-size: 16px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

/* line 70, ../compass/sass/_hovereffect.scss */
.hovereffect:hover h4 {
  color: #ffd700;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
}

/* line 75, ../compass/sass/_hovereffect.scss */
a.title-link:hover {
  text-decoration: none;
}

/* line 79, ../compass/sass/_hovereffect.scss */
.hovereffect h4:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffd700;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  text-decoration: none;
}

/* line 94, ../compass/sass/_hovereffect.scss */
.hovereffect:hover h4:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #ffd700;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
}

/* line 101, ../compass/sass/_hovereffect.scss */
.hovereffect a, .hovereffect p {
  color: #ffd700;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  text-indent: 0px;
}

/* line 113, ../compass/sass/_hovereffect.scss */
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-indent: 0px;
}

/* line 2, ../compass/sass/_nav.scss */
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 10px;
}

/* line 7, ../compass/sass/_nav.scss */
.my-nav {
  padding: 0px;
}

/* line 11, ../compass/sass/_nav.scss */
.my-nav-two {
  width: 400px;
}

/* line 15, ../compass/sass/_nav.scss */
.navbar-inverse {
  min-height: 50px;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  background-color: transparent;
}

/* line 24, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-brand {
  color: #ffd700;
  font-size: 20px;
  font-family: Echanted;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}

/* line 32, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-toggle {
  border-color: #ffd700;
}

/* line 36, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffd700;
}

/* line 41, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  z-index: 510;
}
/* line 47, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: lightgray;
  text-shadow: none;
}

/* line 54, ../compass/sass/_nav.scss */
.navbar-toggle {
  z-index: 510;
}

@media screen and (max-width: 767px) {
  /* line 60, ../compass/sass/_nav.scss */
  #title-container {
    display: none;
  }

  /* line 63, ../compass/sass/_nav.scss */
  .container-fluid.bg-img {
    background: none;
    padding: 0px;
  }

  /* line 67, ../compass/sass/_nav.scss */
  .site-nav {
    display: none;
  }

  /* line 70, ../compass/sass/_nav.scss */
  .navbar-inverse {
    border: none;
    background-image: url("../img/navbannertwo.jpg");
    border-bottom: 1px solid black;
  }
}
/* line 80, ../compass/sass/_nav.scss */
#scroll-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 85px;
  background-color: none;
  color: #FFFFFF;
  z-index: 9999;
  display: none;
  left: 0;
  width: 480px;
  right: 0;
  margin: auto;
}
/* line 93, ../compass/sass/_nav.scss */
#scroll-nav .navbar-inverse {
  min-height: 50px;
  border-radius: 0 0 15px 15px;
}
/* line 97, ../compass/sass/_nav.scss */
#scroll-nav .navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  float: left;
  padding-top: 0px;
  margin-top: 15px;
}

@font-face {
  font-family: "Montserrat", sans-serif;
}
/* line 4, ../compass/sass/_font.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Kelly;
  src: url("../fonts/KellyAnnGothic.ttf");
}
@font-face {
  font-family: Livingst;
  src: url("../fonts/Livingst.ttf");
}
@font-face {
  font-family: Sketch;
  src: url("../fonts/Sketch-Gothic-School.ttf");
}
@font-face {
  font-family: Echanted;
  src: url("../fonts/Enchanted-Land.otf");
}
@font-face {
  font-family: Roth;
  src: url("../fonts/rothenbg.ttf");
}
/* line 30, ../compass/sass/_font.scss */
h3 {
  font-family: Echanted;
  font-size: 35px;
}

/* line 34, ../compass/sass/_font.scss */
.big-letter {
  font-family: "Roth", sans-serif;
  font-size: 60px;
  padding-left: 15px;
  padding-top: 10px;
}

/* line 40, ../compass/sass/_font.scss */
.small-letter {
  font-family: "Roth", sans-serif;
  font-size: 30px;
}

/* line 46, ../compass/sass/_font.scss */
.fa {
  margin-right: 5px;
}
