/* line 9, ../compass/sass/_base.scss */
p {
  text-indent: 25px;
}

/* line 13, ../compass/sass/_base.scss */
p.no-indent {
  text-indent: 0px;
}

/* line 17, ../compass/sass/_base.scss */
.project-titles {
  color: #ffd700;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
}

/* line 22, ../compass/sass/_base.scss */
body {
  background: url("../img/main-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* line 29, ../compass/sass/_base.scss */
.section-title {
  font-family: Kelly;
  font-size: 30px;
  color: black;
  float: left;
}

/* line 36, ../compass/sass/_base.scss */
.content-text {
  clear: both;
}

/* line 40, ../compass/sass/_base.scss */
.main-content h2 {
  line-height: 11px;
  margin-bottom: 40px;
}

/* line 46, ../compass/sass/_base.scss */
.about {
  min-height: 600px;
  margin-bottom: 100px;
}

/* line 52, ../compass/sass/_base.scss */
.my-projects {
  padding: 5px;
}

/* line 56, ../compass/sass/_base.scss */
.project-img {
  min-height: 250px;
}

/* line 60, ../compass/sass/_base.scss */
.btm-row {
  margin-bottom: 100px;
}

/* line 64, ../compass/sass/_base.scss */
.project-title {
  margin-bottom: 20px;
}

/* line 70, ../compass/sass/_base.scss */
.wax-icon {
  background: none;
}

/* line 74, ../compass/sass/_base.scss */
#contact-section {
  min-height: 600px;
}

/* line 78, ../compass/sass/_base.scss */
.section-title-contact {
  font-family: Kelly;
  font-size: 30px;
  color: black;
}

/* line 85, ../compass/sass/_base.scss */
#skills-wrapper {
  min-height: 600px;
}

/* line 89, ../compass/sass/_base.scss */
.skills-title {
  margin-top: 100px;
}

/* line 93, ../compass/sass/_base.scss */
.about-title {
  margin-top: 100px;
}

/* line 98, ../compass/sass/_base.scss */
#information p {
  text-indent: 0px;
}

/* line 105, ../compass/sass/_base.scss */
.my-nav li {
  width: 120px;
  height: 180px;
  padding-top: 15px;
  position: relative;
  background: url("../img/newbookmark.png");
  color: white;
  font-size: 12px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px;
  transition-property: background;
  transition-duration: .5s;
  transition-timing-function: linear;
}
/* line 120, ../compass/sass/_base.scss */
.my-nav li .fa {
  font-size: 30px;
  padding-top: 3px;
  padding-left: 8px;
}
/* line 126, ../compass/sass/_base.scss */
.my-nav li:hover {
  background: url("../img/newbookmarkanimate.png");
}

/* line 133, ../compass/sass/_base.scss */
.message-wrapper .row {
  margin: 0px;
}

/* line 138, ../compass/sass/_base.scss */
.message-wrapper.row {
  margin: 0px;
}

/* line 143, ../compass/sass/_base.scss */
#my-footer {
  background-color: #222;
  border-color: #080808;
  min-height: 85px;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  z-index: 510;
  position: relative;
  bottom: 0;
}

/* line 154, ../compass/sass/_base.scss */
p.footer-text {
  margin-top: 35px;
}

/* line 159, ../compass/sass/_base.scss */
.custom-footer img {
  width: 89%;
  height: 100px;
  float: left;
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 500;
}

/* line 1, ../compass/sass/_hovereffect.scss */
.hover-text:hover {
  display: block;
  width: 50px;
  color: white;
}

/* line 7, ../compass/sass/_hovereffect.scss */
.hover-text {
  display: none;
}

/* line 15, ../compass/sass/_hovereffect.scss */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: lightgray;
  border-radius: none;
}

/* line 28, ../compass/sass/_hovereffect.scss */
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

/* line 38, ../compass/sass/_hovereffect.scss */
.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 51, ../compass/sass/_hovereffect.scss */
.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 58, ../compass/sass/_hovereffect.scss */
.hovereffect h4 {
  color: transparent;
  text-shadow: none;
  text-align: center;
  position: relative;
  font-size: 16px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

/* line 70, ../compass/sass/_hovereffect.scss */
.hovereffect:hover h4 {
  color: #ffd700;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
}

/* line 75, ../compass/sass/_hovereffect.scss */
a.title-link:hover {
  text-decoration: none;
}

/* line 79, ../compass/sass/_hovereffect.scss */
.hovereffect h4:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #ffd700;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  text-decoration: none;
}

/* line 94, ../compass/sass/_hovereffect.scss */
.hovereffect:hover h4:after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #ffd700;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
}

/* line 101, ../compass/sass/_hovereffect.scss */
.hovereffect a, .hovereffect p {
  color: #ffd700;
  text-shadow: 0 2px 3px black, 0 -1px 2px black;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  text-indent: 0px;
}

/* line 113, ../compass/sass/_hovereffect.scss */
.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-indent: 0px;
}

/* line 18, ../compass/sass/_nav.scss */
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 10px;
}

/* line 23, ../compass/sass/_nav.scss */
.my-nav {
  padding: 0px;
}

/* line 27, ../compass/sass/_nav.scss */
.my-nav-two {
  width: 400px;
}

/* line 31, ../compass/sass/_nav.scss */
.navbar-inverse {
  min-height: 50px;
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  background-color: transparent;
}

/* line 40, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  z-index: 510;
}
/* line 46, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-nav > li > a:hover {
  color: lightgray;
  text-shadow: none;
}

/* line 52, ../compass/sass/_nav.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

/* line 56, ../compass/sass/_nav.scss */
.navbar-toggle {
  z-index: 510;
}

/* line 63, ../compass/sass/_nav.scss */
#scroll-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 85px;
  background-color: none;
  color: #FFFFFF;
  z-index: 9999;
  display: none;
  left: 0;
  width: 480px;
  right: 0;
  margin: auto;
}
/* line 76, ../compass/sass/_nav.scss */
#scroll-nav .navbar-inverse {
  min-height: 50px;
  border-radius: 0 0 15px 15px;
}
/* line 80, ../compass/sass/_nav.scss */
#scroll-nav .navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  color: #ffd700;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  float: left;
  padding-top: 0px;
  margin-top: 15px;
}

@font-face {
  font-family: "Montserrat", sans-serif;
}
/* line 4, ../compass/sass/_font.scss */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Kelly;
  src: url("../fonts/KellyAnnGothic.ttf");
}
@font-face {
  font-family: Livingst;
  src: url("../fonts/Livingst.ttf");
}
@font-face {
  font-family: Sketch;
  src: url("../fonts/Sketch-Gothic-School.ttf");
}
@font-face {
  font-family: Echanted;
  src: url("../fonts/Enchanted-Land.otf");
}
/* line 24, ../compass/sass/_font.scss */
h3 {
  font-family: Echanted;
  font-size: 35px;
}

/* line 28, ../compass/sass/_font.scss */
.big-letter {
  font-family: "Kelly", sans-serif;
  font-size: 60px;
}

/* line 32, ../compass/sass/_font.scss */
.small-letter {
  font-family: "Kelly", sans-serif;
  font-size: 30px;
}

/* line 38, ../compass/sass/_font.scss */
.fa {
  margin-right: 5px;
}
