.project-img {
    min-height: 250px;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 15px;
}

body {
    background-color: white;
}


footer .container {
	min-height: 300px;
	background-color: skyblue;

}

.crystal img {
    width: 5%;
    margin-top: 50px;
}

.my-nav {
    padding: 0px;
}

.navbar-default {
    background-color: lightgray;
    border-color: transparent;
    min-height: 85px;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.projects {
    background-color: lightgray;
}

.about {
    background-color: gray;
    min-height: 400px;
}

.carousel-wrapper {
    padding: 0px;
    margin-top: 10px;
}

/*Carousel*/

.slider {
    position: relative;
    z-index: 9;
}

.absolute__img {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -49px;
    z-index: 99;
}

.slider .btn {
    margin: 40px 10px 0;
}

.carousel-caption {
    top: 38%;
    margin-top: -120px;
    font-size: 14px;
    color: #fff;
    text-transform: none;
    text-shadow: 2px 2px 3px #666666;
}

.carousel-caption h1 {
    font-size: 36px;
    line-height: 36px;
    color: #fff;
}

.carousel-caption p {
    font-weight: 300;
    margin: 0;
}

.carousel-caption h1 span {
    color: #ffdd3c;
    border: 2px solid #fff;
    padding: 0 4px 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.carousel-control {
    background: none;
    opacity: 1;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    -moz-opacity: 1;
}

.carousel-control .carousel-control-left {
    background: url('../img/prev.png') no-repeat;
    width: 70px;
    height: 71px;
    left: 20px;
}

.carousel-control .carousel-control-right {
    background: url('../img/next.png') no-repeat;
    width: 70px;
    height: 71px;
    right: 20px;
}

.carousel-control .carousel-control-left:hover {
    background: url('../img/prev_a.png') no-repeat;
}

.carousel-control .carousel-control-right:hover {
    background: url('../img/next_a.png') no-repeat;
}

.boxed .carousel-control .carousel-control-left {
    left: -150px;
    top: 270px;
}

.boxed .carousel-control .carousel-control-right {
    right: -150px;
    top: 270px;
}

.boxed .carousel-caption {
    top: 90px;
}

.boxess {
    background-color: #fff;
}

.boxess .carousel-caption h1 {
    font-size: 40px;
    line-height: 40px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

/*/* Main Content*/

.main-content h2 {
    line-height: 11px;
    margin-bottom: 40px;
}
