<div class="container carousel-wrapper">
    <div id="caption-wrapper"></div>
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item"> <img alt="First slide" src="img/slider-twitter.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Twitter App</h1>
                        <p>League of Legends Twitter Feed for Esports Content</p>
                    </div>
                </div>
            </div>
            <div class="item active"> <img alt="Second slide" src="img/slider-mygrub.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>My Grub</h1>
                        <p>Recipe app site, using Yummly recipe api.</p>
                    </div>
                </div>
            </div>
            <div class="item"> <img alt="Third slide" src="img/slider-digitalgrub.jpg">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Digital Grub</h1>
                        <p>Food Meal Delivery App</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a> </div>
    <div class="row text-left no-margin about">
        <div class="container headings">
        <h1 class="section-title"><span class="big-letter">A</span>bout Me</h1>
            <p class="small-paragraph">Filler Info: Web Developer, Father, Gamer, Anime Nerd!</p>
            <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">read more</a> -->
        </div>
    </div>
    <div class="row  three__blocks text-center no_padding no-margin">
        <div class="container projects">
            <div class="separator crystal"><!-- img src="img/fantasy-crystal.gif" alt="crystal"> --></div>
            <h2 class="text-left section-title"><span class="big-letter">P</span>rojects</h2>
            <p class="small-paragraph text-left">Web Development Projects</p>
            <div class="row">
                <div class="col-md-4">
                    <h3><small><a href="#/final-project">Final Project</a></small></h3>
                    <p class="smaller"><small>Ticketing App Website</small></p>
                    <a href="#/final-project"><img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img"></a>
                    <!-- <p>Coming Soon.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4 middle">
                    <h3><small><a href="/twitter">Twitter Feed</a></small></h3>
                    <p class="smaller"><small>Twitter feed for following League of Legends Esports.</small></p>
                    <img src="img/twitter.jpeg" alt="image" class="img-responsive img-rounded project-img">
                    <!--   <p>Built this project with HTML5, CSS3, Bootstrap, SaSS, Javascript, jQuery, Angular and Twitter Api.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="/blackjack">Black Jack</a></small></h3>
                    <p class="smaller"><small>Black Jack card game with a little twist.</small></p>
                    <img src="img/blackjack.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <!--    <p>Built this project with HTML5, CSS3, Bootstrap, Javascript and jQuery.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3><small><a href="/coffee">Digital Roast</a></small></h3>
                    <p class="smaller"><small>Coffee App website.</small></p>
                    <img src="img/roast.jpeg" alt="image" class="img-responsive img-rounded project-img">
                    <!--   <p>Coffee website to choose your coffee subscription plan, to ship to the user.</p> -->
                    <!--     <p>Built this project with Jade(pug), CSS3, Bootstrap, Javascript, jQuery, Express, MongoDB and Mongoose.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="/mygrub">My Grub</a></small></h3>
                    <p class="smaller"><small>Recipe App website.</small></p>
                    <img src="img/mygrub.jpeg" alt="image" class="img-responsive img-rounded project-img">
                    <!--          <p>Recipe website that searches recipes based on your food inventory or favorite cruisine.</p> -->
                    <!--  <p>Built this project with HTML5, CSS3, Bootstrap, Javascript, jQuery, Angular, Yummly Api and Localstorage.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="/digitalgrub">Digital Grub</a></small></h3>
                    <p class="smaller"><small>Food Meal Delivery App.</small></p>
                    <img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <!--   <p>Coming Soon.</p> -->
                    <!--   <p>Built this project with HTML5, CSS3, Bootstrap, Javascript, jQuery, Angular, Express, MongoDB and Mongoose.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
            </div>
            <div class="row btm-row">
                <div class="col-md-4">
                    <h3><small><a href="#/movie-app">Movie App</a></small></h3>
                    <p class="smaller"><small>Movie App website.</small></p>
                    <img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <!--    <p>Coming Soon.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="#/google-maps">Google Maps</a></small></h3>
                    <p class="smaller"><small>Google maps single page app.</small></p>
                    <img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <!--    <p>Coming Soon.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="#/marvel-voting">Marvel Universe Voting App</a></small></h3>
                    <p class="smaller"><small>Voting app</small></p>
                    <img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <!--      <p>Coming Soon.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
            </div>
        </div>
    </div>
    <div id="skills-wrapper" class="row text-left">
        <div class="container">
<!--             <div class="separator crystal"><img src="img/fantasy-crystal.gif" alt="crystal"></div> -->
            <h2 class="section-title"><span class="big-letter">S</span>kills:</h2>
            <p class="small-paragraph">My current web developement skills.</p>
            <div class="col-md-2">
                <h3>MEAN Stack</h3>
                <li>MongoDB</li>
                <li>Express</li>
                <li>Angular</li>
                <li>Node.js</li>
            </div>
            <div class="col-md-2">
                <h3>LAMP Stack</h3>
                <li>Linux</li>
                <li>Apache - ubuntu</li>
                <li>mySql</li>
                <li>PHP</li>
            </div>
            <div class="col-md-2">
                <h3>More Skills</h3>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>jQuery</li>
                <li>Mongoose</li>
                <li>Git</li>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Blog</h3>
                <p>my info
                    <br />
                    <br />meep</p>
            </div>
            <div class="col-md-3">
                <h3>Tweets</h3>
                <p><span>Tweet</span> <a href="#">@jciarallij</a>
                    <br />{{tweets}}</p>
                <p><span>Tweet</span> <a href="#">@jciarallij</a>
                    <br />{{tweets}}</p>
            </div>
            <div class="col-md-3">
                <h3>Contact Me</h3>
                <div class="row">
                    <form id="contact-me" ng-submit="contactForm()" name="Contact" role="form">
                        <div class="form-group">
                            <label>Name:</label>
                            <input name="name" ng-model="name" placeholder="John Doe" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input name="email" ng-model="email" placeholder="Johndoe@email.com" type="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Phone Number:</label>
                            <input name="tel" ng-model="tel" placeholder="(555)-555-5555" type="tel" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Message:</label>
                            <div class="form-group" id="message-wrapper">
                                <label class="labels" for="message" id="messageIN">
                                    <textarea name="message" class="form-control" id="message" placeholder="Message..." name="message"></textarea>
                                    <span id="message-error" class="error-text"></span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Social Network</h3>
                <a href="#"><img src="img/twittericon.png" alt="">Twitter</a>
                <a href="#"><img src="img/github.png" alt="">Github</a>
                <a href="#"><img src="img/linkedin.png" alt="">Linkedin</a>
                <a href="#"><img src="img/gmail.png" alt="">Gmail</a>
                <a href="#"><img src="img/bitbucket.png" alt="">Bitbucket</a>
            </div>
        </div>
    </div>
</footer>
<div class="row text-center">
    <p class="text-center"> Joshua Ciaralli | All Rights Reserved</p>
    <br>
    <p class="text-center">&copy; Copyright 2016</p>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
$('.carousel').carousel({
    interval: 4500, // in milliseconds
    pause: 'true' // set to 'true' to pause slider on mouse hover
})
</script>
