<div class="container">
    <div class="row text-center no-margin about">
        <div class="container headings">
            <h1 class="page_title">About Me</h1>
            <p class="small-paragraph">Filler Info: Web Developer, Father, Gamer, Anime Nerd!</p>
            <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">read more</a> -->
        </div>
    </div>
    <div class="row  three__blocks text-center no_padding no-margin">
        <div class="container projects">
            <div class="separator crystal"><img src="img/fantasy-crystal.gif" alt="bulb"></div>
            <h2><span>Projects</span></h2>
            <p class="small-paragraph">Web Development Projects</p>
            <div class="row">
                <div class="col-md-4">
                    <h3><small><a href="#/final-project">Final Project</a></small></h3>
                    <p class="smaller"><small>Ticketing App Website</small></p>
                    <a href="#/final-project"><img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img"></a>
                    <p>Coming Soon.</p>
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4 middle">
                    <h3><small><a href="/twitter">Twitter Feed</a></small></h3>
                    <p class="smaller"><small>Twitter feed for following League of Legends Esports.</small></p>
                    <img src="img/twitter.png" alt="image" class="img-responsive img-rounded project-img">
                    <p>Built this project with HTML5, CSS3, Bootstrap, SaSS, Javascript, jQuery, Angular and Twitter Api.</p>
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="/blackjack">Black Jack</a></small></h3>
                    <p class="smaller"><small>Black Jack card game with a little twist.</small></p>
                    <img src="img/blackjack.png" alt="image" class="img-responsive img-rounded project-img">
                    <p>Built this project with HTML5, CSS3, Bootstrap, Javascript and jQuery.</p>
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3><small><a href="/coffee">Digital Roast</a></small></h3>
                    <p class="smaller"><small>Coffee App website.</small></p>
                    <img src="img/roast.png" alt="image" class="img-responsive img-rounded project-img">
                    <p>Coffee website to choose your coffee subscription plan, to ship to the user.</p>
                    <!--     <p>Built this project with Jade(pug), CSS3, Bootstrap, Javascript, jQuery, Express, MongoDB and Mongoose.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="/mygrub">My Grub</a></small></h3>
                    <p class="smaller"><small>Recipe App website.</small></p>
                    <img src="img/mygrub.png" alt="image" class="img-responsive img-rounded project-img">
                    <p>Recipe website that searches recipes based on your food inventory or favorite cruisine.</p>
                    <!--  <p>Built this project with HTML5, CSS3, Bootstrap, Javascript, jQuery, Angular, Yummly Api and Localstorage.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="/digitalgrub">Digital Grub</a></small></h3>
                    <p class="smaller"><small>Food Meal Delivery App.</small></p>
                    <img src="img/dgrub.png" alt="image" class="img-responsive img-rounded project-img">
                    <p>Coming Soon.</p>
                    <!--   <p>Built this project with HTML5, CSS3, Bootstrap, Javascript, jQuery, Angular, Express, MongoDB and Mongoose.</p> -->
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3><small><a href="#/movie-app">Movie App</a></small></h3>
                    <p class="smaller"><small>Movie App website.</small></p>
                    <img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <p>Coming Soon.</p>
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="#/google-maps">Google Maps</a></small></h3>
                    <p class="smaller"><small>Google maps single page app.</small></p>
                    <img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <p>Coming Soon.</p>
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
                <div class="col-md-4">
                    <h3><small><a href="#/marvel-voting">Marvel Universe Voting App</a></small></h3>
                    <p class="smaller"><small>Voting app</small></p>
                    <img src="img/comingsoon.jpg" alt="image" class="img-responsive img-rounded project-img">
                    <p>Coming Soon.</p>
                    <!-- <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
