<div id="scroll-wrapper" class="container">
    <div id="about" class="row text-left no-margin about">
        <div class="container headings crystal">
            <h1 class="section-title"><span class="big-letter">A</span>bout Me</h1>
            <div id="about-wrapper" class="col-sm-12">
                <div class="col-sm-8">
                    <p class="small-paragraph content-text"> My name is Joshua David Ciaralli. I was born in a military family. My parents’ service in the United States Navy gave me the great opportunity to travel around the world. I have lived in California, Philippines, Alabama, Virginia, Japan, and now I currently live in Georgia in the North Atlanta area with my wife and two children.
                    </p>
                    <p class="small-paragraph content-text"> I have always had an interest in technology, art and videogames. Through my younger years, I had a passion in creating things on the computer, from creating custom graphics in Photoshop or building 3d dimensional worlds in Modo and 3d studio max. Digital art isn’t my only interest in computers; I enjoy how they function, and I pride myself in being able to troubleshoot software and hardware issues.
                    </p>
                    <p class="small-paragraph content-text"> Web development is now my outlet in technological creation. I completed a 16 week immersive full-stack web development course with <a href="http://www.digitalcrafts.com">DigitalCrafts</a>, and learned many new <a href="#skills-wrapper">skills</a>. Combining my design ability with the structure of coding, the possibilities of what I can create seem limitless.
                    </p>
                    <p class="small-paragraph content-text no-indent"> Check out this awesome article <a href="http://www.hypepotamus.com/people/joshua-ciaralli/">Hypepotumus</a> wrote about me, a more in-depth look of my decision to get into development.
                    </p>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive img-thumbnail pull-right" src="img/josh.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row  three__blocks text-center no_padding no-margin">
        <div id="my-projects-section" class="container projects">
            <h2 class="text-left section-title project-title"><span class="big-letter">P</span>rojects</h2>
            <h4 class="text-left content-text">Web Development Projects</h4>
            <div class="row">
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <img class="img-responsive project-img" src="img/ticketfixme.jpg" alt="">
                        <div class="overlay">
                            <a class="title-link" href="http://ticketfixme.com"><h4>Maintenance Ticketing System</h4></a>
                            <p>
                                <a class="info" href="https://github.com/curtjenk/ticket-fix"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                            <p>
                                <a class="info" href="http://www.ticketfixme.com"><span class="fa fa-globe"></span> Live Demo</a>
                            </p>
                        </div>
                    </div>
                    <h3 class="project-titles">Ticket Fix Me</h3>
                </div>
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <a href="/twitter"><img src="img/twitter.jpeg" alt="image" class="img-responsive project-img"></a>
                        <div class="overlay">
                            <a class="title-link" href="/twitter"><h4>Esports Twitter Feed</h4></a>
                            <p>
                                <a class="info" href="https://github.com/jciarallij/twitterfeed"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                            <p>
                                <a class="info" href="/twitter"><span class="fa fa-globe"></span> Live Demo</a>
                            </p>
                        </div>
                    </div>
                    <h3 class="project-titles">Twitter</h3>
                </div>
                <div class="col-md-4 my-projects right-corner">
                    <div class="hovereffect">
                        <a href="/blackjack"><img src="img/blackjack.jpg" alt="image" class="img-responsive project-img"></a>
                        <div class="overlay">
                            <a class="title-link" href="/blackjack"><h4>My Custom BlackJack Game!</h4></a>
                            <p>
                                <a class="info" href="https://github.com/jciarallij/BlackJack"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                            <p>
                                <a class="info" href="/blackjack"><span class="fa fa-globe"></span> Live Demo</a>
                            </p>
                        </div>
                    </div>
                    <h3 class="project-titles">BlackJack</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <a href="#"><img src="img/yikyak.jpg" alt="image" class="img-responsive project-img"></a>
                        <div class="overlay">
                            <a class="title-link" href="#"><h4>Yik Yak Clone App</h4></a>
                            <p>
                                <a class="info" href="#"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                            <p>
                                <a class="info" href="/yikyak"><span class="fa fa-globe"></span> Live Demo</a>
                            </p>
                        </div>
                    </div>
                    <h3 class="project-titles">Million Dollar But!</h3>
                </div>
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <a href="/mygrub"><img src="img/mygrub.jpeg" alt="image" class="img-responsive project-img"></a>
                        <div class="overlay">
                            <a class="title-link" href="/mygrub"><h4>Recipe app based on your food at home</h4></a>
                            <p>
                                <a class="info" href="https://github.com/jciarallij/mygrub"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                            <p>
                                <a class="info" href="/mygrub"><span class="fa fa-globe"></span> Live Demo</a>
                            </p>
                        </div>
                    </div>
                    <h3 class="project-titles">My Grub</h3>
                </div>
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <a href="/digitalgrub"><img src="img/roast.jpeg" alt="image" class="img-responsive project-img"></a>
                        <div class="overlay">
                            <a class="title-link" href="/roast"><h4>eCommerce site for coffee grinds</h4>  </a>
                            <p>
                                <a class="info" href="https://github.com/jciarallij/digital-grub"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                            <p>
                                <a class="info" href="/roast"><span class="fa fa-globe"></span> Live Demo</a>
                            </p>
                        </div>
                    </div>
                    <h3 class="project-titles">Digital Roast</h3>
                </div>
            </div>
            <!--             <div class="row btm-row">
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <img class="img-responsive project-img" src="img/comingsoon.jpg" alt="">
                        <div class="overlay">
                            <a class="title-link" href="/movie-app"><h4>Movie App</h2></a>
                            <p>
                                <a class="info" href="https://github.com/jciarallij/My-movie-app-2016"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <img class="img-responsive project-img" src="img/comingsoon.jpg" alt="">
                        <div class="overlay">
                            <a class="title-link" href="#"><h2>Google Maps</h2></a>
                            <p>
                                <a class="info" href="#"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-projects">
                    <div class="hovereffect">
                        <img class="img-responsive project-img right-corner-btm" src="img/comingsoon.jpg" alt="">
                        <div class="overlay">
                            <h2>Marvel Voting App</h2>
                            <p>
                                <a class="info" href="#"><span class="fa fa-github"></span> View Github Repo</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div id="skills-wrapper" class="row text-left">
        <div class="container crystal">
            <h2 class="section-title"><span class="big-letter">S</span>kills:</h2>
            <p class="small-paragraph content-text">My current web developement skills.</p>
            <div class="col-md-2 content-text">
                <h3>MEAN Stack</h3>
                <li>MongoDB</li>
                <li>Express</li>
                <li>Angular</li>
                <li>Node.js</li>
            </div>
            <div class="col-md-2">
                <h3>LAMP Stack</h3>
                <li>Linux</li>
                <li>Apache - ubuntu</li>
                <li>mySql</li>
                <li>PHP</li>
            </div>
            <div class="col-md-2">
                <h3>More Skills</h3>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>jQuery</li>
                <li>Mongoose</li>
                <li>Git</li>
            </div>
        </div>
    </div>
    <div id="contact-section" class="container">
        <div class="row">
            <div id="information" class="col-md-3">
                <h3 class="section-title-contact"><span class="big-letter">C</span>ontact:</h3>
                <p><strong>Joshua Ciaralli</strong></p>
                <p><span class="fa fa-globe"></span> Atlanta, GA</p>
                <p><span class="fa fa-phone"></span><a href="tel:+18046872319">804-687-2319</a></p>
                <p><a href="mailto:jciarallij@gmail.com"><span style="color: #333;" class="fa fa-envelope"></span> jciarallij@gmail.com</a></p>
            </div>
            <div id="my-tweets" class="col-md-3">
                <h3>Tweets</h3>
            </div>
            <div class="col-md-3">
                <h3>Message Me</h3>
                <div class="row">
                    <form action="mail.php" method="post" data-toggle="validator" role="form" id="contact-form" name="contact">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" placeholder="Name" class="form-control shorten">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="emailAddr" placeholder="Email Address" class="form-control shorten">
                        </div>
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" name="emailSubject" placeholder="Email Subject" class="form-control shorten">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea rows="3" name="emailBody" class="form-control"></textarea>
                        </div>
                        <div class="button-holder">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="social" class="col-md-3">
                <h3>Social Network</h3>
                <a href="https://twitter.com/jciarallij"><img class="wax-icon" src="img/twitter.png" style="width: 30%;"></a>
                <a href="https://github.com/jciarallij"><img class="wax-icon" src="img/github.png" style="width: 30%;"></a>
                <a href="https://www.linkedin.com/in/jciaralli"><img class="wax-icon" src="img/linkedin.png" style="width: 30%;"></a>
            </div>
        </div>
    </div>
</div>
