// Full page body styles
#scroll-wrapper {

}

p {
    text-indent: 25px;
}

p.no-indent {
    text-indent: 0px;
}

.project-titles {
    color: #ffd700;
    text-shadow: 0 2px 3px black, 0 -1px 2px black;
}

body {
    background: url("../img/main-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.section-title {
    font-family: Roth;
    font-size: 30px;
    color: black;
    float: left;
}

.content-text {
    clear: both;
}

.main-content h2 {
    line-height: 11px;
    margin-bottom: 40px;
}

// About Section
.about {
    min-height: 600px;
    margin-bottom: 100px;
}

// Projects Section
.my-projects {
    padding: 5px;
}

.project-img {
    min-height: 250px;
}

.btm-row {
    margin-bottom: 100px;
}

.project-title {
    margin-bottom: 20px;
    // margin-top: 100px;
}

// Contact Section
.wax-icon {
    background: none;
}

#contact-section {
    min-height: 600px;
}

.section-title-contact {
    font-family: Kelly;
    font-size: 30px;
    color: black;
}

// Skills Section
#skills-wrapper {
    min-height: 600px;
}

.skills-title {
    margin-top: 100px;
}

.about-title {
    margin-top: 100px;
}

#information {
    p {
        text-indent: 0px;
    }
}

// Custom nav markers 
.my-nav {
    


    li.li-projects,li.li-skills,li.li-resume,li.li-contact {
        font-family: Echanted;
        width: 120px;
        height: 180px;
        padding-top: 18px;
        position: relative;
        background: url("../img/newbookmark.png");
        color: white;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
        margin-right: 20px;
        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: linear;
        text-shadow: 0 2px 3px black, 0 -1px 2px black;
        color: white;
        .fa {
            font-size: 35px;
            padding-top: 6px;
            padding-left: 8px;
        }
    }
    li:hover {
        background: url("../img/newbookmarkanimate.png");
    }
    li.li-skills {
        background: url("../img/newbookmarkblue.png");
        &:hover{
            background: url("../img/newbookmarkblueanimate2.png");

        }
    }

    li.li-contact {
        background: url("../img/newbookmarkgreen.png");
        &:hover{
            background: url("../img/newbookmarkgreenanimate.png");

        }
    }
    li.li-resume {
        background: url("../img/newbookmarkred.png");
        &:hover{
            background: url("../img/newbookmarkredanimate.png");

        }
    }
    
}

// 
.message-wrapper {
    .row {
        margin: 0px;
    }
}

.message-wrapper.row {
    margin: 0px;
}

// Footer 
#my-footer {
    background-color: #222;
    border-color: #080808;
    min-height: 85px;
    color: #ffd700;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
    z-index: 510;
    position: relative;
    bottom: 0;
}

p.footer-text {
    margin-top: 35px;
}

.custom-footer {
    img {
        width: 89%;
        height: 100px;
        float: left;
        position: absolute;
        bottom: 0;
        left: 5%;
        z-index: 500;
    }
}
