// Full page body styles
#scroll-wrapper {}

#title-container {
    float: left;
    position: absolute;
    top: 0px;
    color: black;
    font-family: "Roth", sans-serif;
    letter-spacing: 2px;
    padding-top: 15px;
    padding-left: 15px;
    h1 {
        font-size: 60px;
    }
    h3.text-center {
        font-size: 60px;
        position: relative;
        top: -30px;
    }
    h3.text-left {
        position: relative;
        top: -40px;
    }
}

.project-titles {
    color: black;
}

.section-title {
    font-family: Roth;
    font-size: 30px;
    color: black;
    float: left;
    margin-bottom: 20px;
}

.content-text {
    clear: both;
}

.main-content h2 {
    line-height: 11px;
    margin-bottom: 40px;
}

// About Section
.about {
    margin-top: 50px;
    min-height: 600px;
    margin-bottom: 100px;
}

// Projects Section
.my-projects {
    padding: 5px;
}

.project-img {
    min-height: 250px;
}
.btm-row {
    margin-bottom: 100px;
}

.project-title {
    margin-bottom: 20px;
    // margin-top: 100px;
}

// Contact Section
.wax-icon {
    background: none;
}

#contact-section {
    min-height: 600px;
}

.section-title-contact {
    font-family: Kelly;
    font-size: 30px;
    color: black;
}

// Skills Section
#skills-wrapper {
    min-height: 600px;
}

.skills-title {
    margin-top: 100px;
}

.about-title {
    margin-top: 100px;
}

#information {
    p {
        text-indent: 0px;
    }
}

// Custom nav markers 
.my-nav {
    li.li-projects,
    li.li-skills,
    li.li-resume,
    li.li-contact {
        font-family: Echanted;
        width: 120px;
        height: 180px;
        padding-top: 18px;
        position: relative;
        color: white;
        font-size: 14px;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
        margin-right: 20px;
        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: linear;
        text-shadow: 0 2px 3px black, 0 -1px 2px black;
        color: white;
        .fa {
            font-size: 35px;
            padding-top: 6px;
            padding-left: 8px;
        }
    }
    li.li-projects {
         background: url("../img/newbookmark.png");
        &:hover {
            background: url("../img/newbookmarkanimate.png");
        }
    }
    li.li-skills {
        background: url("../img/newbookmarkblue.png");
        &:hover {
            background: url("../img/newbookmarkblueanimate2.png");
        }
    }
    li.li-contact {
        background: url("../img/newbookmarkgreen.png");
        &:hover {
            background: url("../img/newbookmarkgreenanimate.png");
        }
    }
    li.li-resume {
        background: url("../img/newbookmarkred.png");
        &:hover {
            background: url("../img/newbookmarkredanimate.png");
        }
    }
}

// 
.message-wrapper {
    .row {
        margin: 0px;
    }
}

.message-wrapper.row {
    margin: 0px;
}

// Footer 
#my-footer {
    background-color: transparent;
    border-color: transparent;
    min-height: 85px;
    color: black;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
    z-index: 510;
    position: relative;
    bottom: 0;
    border-top: 2px solid black;
    width: 90%;
    margin: auto;
}

p.footer-text {
    margin-top: 35px;
}

.custom-footer {
    img {
        width: 89%;
        height: 100px;
        float: left;
        position: absolute;
        bottom: 0;
        left: 5%;
        z-index: 500;
    }
}

.container.bg-img {
    background-color: lightgray;
    background: url("../img/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container-fluid {
    background-color: black;
    z-index: 100;
    position: relative;
    background: url("../img/border2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

// Media Tags!
@media screen and (max-width: 767px) {
    #title-container {
        display: none;
    }
    .container-fluid.bg-img {
        background: none;
        padding: 0px;
    }
    .site-nav {
        display: none;
    }
    .navbar-inverse {
        border: none;
        background-color: purple;
        border-bottom: 1px solid black;
    }
}

@media screen and (max-width: 1024px) {
    .my-nav {
        li.li-projects,
        li.li-skills,
        li.li-resume,
        li.li-contact {
            width: 100px;
            height: 180px;
            padding-top: 15px;
            position: relative;
            color: white;
            font-size: 13px;
            margin-right: 15px;
            .fa {
                font-size: 30px;
                padding-top: 6px;
                padding-left: 8px;
            }
        }
    }
    #title-container {
        padding-top: 10px;
        padding-left: 10px;
        h1 {
            font-size: 55px;
        }
        h3.text-center {
            font-size: 55px;
            position: relative;
            top: -30px;
        }
        h3.text-left {
            font-size: 35px;
            position: relative;
            top: -40px;
        }
    }
}

@media screen and (max-width: 990px) {
    .my-nav {
        li.li-projects,
        li.li-skills,
        li.li-resume,
        li.li-contact {
            width: 60px;
            height: 180px;
            padding-top: 12px;
            font-size: 10px;
            margin-right: 10px;
            .fa {
                font-size: 20px;
                padding-top: 6px;
                padding-left: 8px;
            }
        }
    }
    #title-container {
        padding-top: 10px;
        padding-left: 10px;
        h1 {
            font-size: 40px;
        }
        h3.text-center {
            font-size: 40px;
            position: relative;
            top: -30px;
        }
        h3.text-left {
            font-size: 30px;
            position: relative;
            top: -40px;
        }
    }
}

@media screen and (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .navbar-brand {
        display: none;
    }
}
