
@font-face {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
@font-face { font-family: Kelly; src: url('../fonts/KellyAnnGothic.ttf'); } 
@font-face { font-family: Livingst; src: url('../fonts/Livingst.ttf');}
@font-face { font-family: Sketch; src: url('../fonts/Sketch-Gothic-School.ttf');}
@font-face { font-family: Echanted; src: url('../fonts/Enchanted-Land.otf');}

h3 {
    font-family: Livingst;
}

.section-title {
    font-family: Livingst;
    font-size: 40px;
    color: black;
    float: left;
}

.wax-icon {
    background: none;
}

.my-projects {
    padding: 5px;
}

#contact-section {
    // color: white;
}

.hover-text:hover {
    display: block;
    width: 50px;
    color: white;
}

.hover-text {
    display: none;

}

.item {
    img {
        width: 100%;
        height: 300px;
    }
}

.fa {
    margin-right: 5px;
}

.project-img {
    min-height: 250px;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 15px;
}

.big-letter{
    font-family: "Kelly", sans-serif;
    font-size: 60px;
}

.small-letter{
    font-family: "Kelly", sans-serif;
    font-size: 30px;
}

#my-footer {
    background-color: #222;
    border-color: #080808;
    min-height: 85px;
    color: #ffd700;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
}

p.footer-text {
    margin-top: 35px;

}

body {
    background-color: white;
    
}

.btm-row {
    margin-bottom: 100px;
}

footer .container {
	border-bottom: 2px solid black;
    min-height: 300px;
	background-color: skyblue;
    background: $contact-section-tex;
    background-size: 100% 100%;
}


.crystal img {
    width: 40px;
    height: 70px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.crystal-two {
    width: 40px;
    height: 70px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.content-text {
    clear: both;
}

.my-nav {
    padding: 0px;
}

.my-nav-two {
    width: 400px;
}

.navbar-inverse {
    min-height: 85px;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    text-transform: uppercase;
    color: #ffd700;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
    &:hover {
        // color: #D462FF;
        color: lightgray;
        text-shadow: none;
    }
}

#information {
    
}

.section-title-contact {
    font-family: Livingst;
    font-size: 40px;
    color: black;
}

#skills-wrapper {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    background-color: lightgray;
    background: $book-tex;
    background-size: 100% 100%;
    min-height: 355px;
}

.projects {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightgray;
    background: $book-tex;
    background-size: 100% 100%;
 
}

.about {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    background-color: gray;
    background: $book-tex;
    background-size: 100%;
    min-height: 400px;
}

.carousel-wrapper {
    padding: 0px;
    min-height: 450px;
    background-color: lightgray;
}


/*Carousel*/

.slider {
    position: relative;
    z-index: 9;
}

.absolute__img {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -49px;
    z-index: 99;
}

.slider .btn {
    margin: 40px 10px 0;
}

.carousel-caption {
    font-size: 14px;
    color: #fff;
    text-transform: none;
    text-shadow: 0 2px 3px black, 0 -1px 2px black;
    
}


.carousel-caption {
    position: absolute;
    right: 15%;
    top: -16px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption h1 {
    font-size: 36px;
    line-height: 36px;
    color: #fff;
    text-transform: uppercase;
    color: gray;
    text-shadow: 0 2px 3px black, 0 -1px 2px black;
}

.carousel-caption p {
    font-weight: 300;
    margin: 0;
}

.carousel-caption h1 span {
    color: #ffdd3c;
    border: 2px solid #fff;
    padding: 0 4px 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.carousel-control {
    background: none;
    opacity: 1;
    position: absolute;
    top: 0px;
    margin-top: -35px;
    -moz-opacity: 1;
}

.carousel-control .carousel-control-left {
    // background: url('../img/arrowleft.png') no-repeat;
    width: 70px;
    height: 71px;
    left: 10px;
    top: 50%;
    position: absolute;
}

.carousel-control .carousel-control-right {
    // background: url('../img/arrowright.png') no-repeat;
    width: 70px;
    height: 71px;
    right: -20px;
    top: 50%;
    position: absolute;
}

// .carousel-control .carousel-control-left:hover {
//     background: url('../img/arrowlefttwo.png') no-repeat;
// }

// .carousel-control .carousel-control-right:hover {
//     background: url('../img/arrowrighttwo.png') no-repeat;
// }

.carousel-control.right, .carousel-control.left {
    top: 36px;
}

.boxed .carousel-control .carousel-control-left {
    left: -150px;
    top: 270px;
}

.boxed .carousel-control .carousel-control-right {
    right: -150px;
    top: 270px;
}

.boxed .carousel-caption {
    top: 120px;
}

.boxess {
    background-color: #fff;
}

.boxess .carousel-caption h1 {
    font-size: 40px;
    line-height: 40px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

/*/* Main Content*/

.main-content h2 {
    line-height: 11px;
    margin-bottom: 40px;
}

// For my scrolling navbar that appears after scrolling so far.
#scroll-nav {
    position:fixed;
    top: 0px;
    // bottom:0px;
    width:100%; 
    height: 85px; 
    background-color: none;
    color: #FFFFFF;
    z-index:9999;
    display: none;
    left: 0;
    width: 450px;
    right: 0;
    margin: auto;
    .navbar-inverse {
        min-height: 50px;
        border-radius: 0 0 15px 15px;
        // border-radius: 15px 15px 0 0;
        // border-radius: 15px 0 0 15px;
    }
    .navbar-inverse .navbar-nav > li > a {
    text-transform: uppercase;
    color: #ffd700;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    float: left;
    padding-top: 0px;
    margin-top: 15px;
    }
}
