// Main index.html Navbar
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 10px;
}

.my-nav {
    padding: 0px;
}

.my-nav-two {
    width: 400px;
}

.navbar-inverse {
    min-height: 50px;
    padding: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    border: none;
    background-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #ffd700;
    font-size: 20px;
    font-family: Echanted;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}

.navbar-inverse .navbar-toggle {
    border-color: #ffd700;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffd700;
}


.navbar-inverse .navbar-nav>li>a {
    text-transform: uppercase;
    color: #ffd700;
    // color: black;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
    z-index: 510;
    &:hover {
        color: lightgray;
        text-shadow: none;
    }
}


.navbar-toggle {
    z-index: 510;
}

// Media Tags!
@media screen and (max-width: 767px) {
    #title-container {
        display: none;
    }
    .container-fluid.bg-img {
        background: none;
        padding: 0px;
    }
    .site-nav {
        display: none;
    }
    .navbar-inverse {
        border: none;
        background-image: url("../img/navbannertwo.jpg");
        border-bottom: 1px solid black;
    }

}

// Secondary Navbar that appears from scrolling down the page.
// For my scrolling navbar that appears after scrolling so far.
#scroll-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 85px;
    background-color: none;
    color: #FFFFFF;
    z-index: 9999;
    display: none;
    left: 0;
    width: 480px;
    right: 0;
    margin: auto;
    .navbar-inverse {
        min-height: 50px;
        border-radius: 0 0 15px 15px;
    }
    .navbar-inverse .navbar-nav > li > a {
        text-transform: uppercase;
        color: #ffd700;
        text-shadow: 0 2px 3px rgba(255, 255, 255, 0.3), 0 -1px 2px rgba(0, 0, 0, 0.2);
        font-size: 12px;
        float: left;
        padding-top: 0px;
        margin-top: 15px;
    }
}
