// Main Color Themes

$font-stack: Helvetica, sans-serif;
$body-color: #ccb195;
$main-font-color: white;

// Navbar Colors & Secondnary Navbar

$nav-color: #284741;
$second-nav-color: gray;
$nav-border: black;

// Register Page

$reg-btn-register: black;
$reg-btn-cancel: white;
$reg-btn-signin: black;

// Login Page

$login-btn-register: black;
$login-btn-cancel: white;
$login-btn-signin: black;

// Options Page 

$nav-font-color: white;
$option-holder: gray;
$option-holder-two: lightgray;
$option-block: lightgray;
$option-border: black;

$book-tex: url("../img/papertexture2.jpg") no-repeat;







// About Page 


// Footer